*.sqlite*

/vendor
/node_modules
/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

/bootstrap/cache/*.php
Homestead.json
Homestead.yaml
auth.json

.env
.env.*
!.env.example

.phpunit.result.cache

/.idea
/.vscode
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*